table {
  max-width: 80rem;
  margin: 2rem auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: right;
}

table thead {
  font-size: 1rem;
  color: #83e6c0;
}

table tbody {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.90rem;
  color: #c2e9e0;
}
table tbody tr td {
  text-align: center;
}